* {
	border: none;
	font-size: 11.5pt;
	font-weight: normal;
	border-radius: 20px;
	font-family: "Rubik Nerd Font";
}

window#waybar {
	background-color: rgba(0,0,0,0);
}

.modules-left {
	margin: 8px 0 0 8px;
	border: 2px solid #00475c;
	background-color: rgba(0,0,0,0.50);
}

.modules-center {
	color: #0f879c;
	margin: 8px 0 0 0;
	border: 2px solid #00475c;
	background-color: rgba(0,0,0,0.50);
}

.modules-right {
	color: #0f879c;
	margin: 8px 8px 0 0;
	padding: 1px 8px 1px 8px;
	border: 2px solid #00475c;
	background-color: rgba(0,0,0,0.50);
}

#workspaces {
	padding: 1px 8px;
}

#workspaces button {
	color: #0f879c;
	padding: 1px 8px;
	background-color: transparent;
}

#workspaces button:hover {
	color: #52d3a7;
}

#workspaces button.active {
	color: #00475c;
	background-color: #52d3a7;
}

#workspaces button.active:hover {
	color: #52d3a7;
	background-color: #00475c;
}

#clock {
	padding: 1px 12px;
}

#temperature {
	padding: 1px 4px 1px 4px;
}

#mpd {
	padding: 1px 4px 1px 4px;
}

#pulseaudio {
	padding: 1px 4px 1px 4px;
}

tooltip {
	border: 2px solid #00475c;
	background-color: rgba(0,0,0,0.90);
}

tooltip label {
	color: #0f879c;
	padding: 0 8px 0 8px;
}
