* {
	color: #0f879c;
	font-size: 11.5pt;
	font-family: "Rubik, MesloLGM Nerd Font";
}

window {
	margin: 0px;
	border-radius: 20px;
	background-color: rgba(0, 0, 0, 0.85);
}

#input {
	margin: 5px;
	border: 2px solid #52d3a7;
	border-radius: 20px;
	background-color: transparent
}

#entry:selected {
	border: none;
	border-radius: 20px;
	color: #00475c;
	background-color: #52d3a7;
}
